#### Python Sets
Sets are unordered collection of data items. They store multiple items in a single variable. Set items are separated by commas and enclosed within curly brackets {}. Sets are unchangeable, meaning you cannot change items of the set once created. Sets do not contain duplicate items.

##### Example:

In [1]:
info = {"Carla", 19, False, 5.9, 19}
print(info)

{False, 'Carla', 19, 5.9}

Here we see that the items of set occur in random order and hence they cannot be accessed using index numbers. Also sets do not allow duplicate values.

##### Let's try to create an empty set. Check using the type() function whether the type of your variable is a set

##### For creating an empty set, we need to use 'set()'; if we use '{}', that will create a dictionary, not a set.

In [2]:
A = set()
type(A)

set

#### Accessing set items:
Using a For loop\
You can access items of set using a for loop.

##### Example:

In [3]:
info = {"Carla", 19, False, 5.9, 19}
for value in info:
    print(value)

False
Carla
19
5.9

#### Joining Sets
Sets in Python more or less work in the same way as sets in mathematics. We can perform operations like union and intersection on the sets just like in mathematics.

#### I. union() and update():
The union() and update() methods both combine the items from two sets. The union() method creates and returns a new set with all the items, while the update() method adds items to the existing set.

##### Example:

In [4]:
Cities  = {"Tokyo", "Madrid", "Dhaka", "Delhi"}
Cities2 = {"Tokyo", "Texas", "Kabul", "Madrid"}
Cities3 = Cities.union(Cities2)
print(Cities3)

{'Texas', 'Madrid', 'Dhaka', 'Delhi', 'Kabul', 'Tokyo'}

##### When we use union(), the two sets become unchanged.

In [5]:
print(Cities)
print(Cities2)

{'Madrid', 'Delhi', 'Dhaka', 'Tokyo'}
{'Madrid', 'Texas', 'Kabul', 'Tokyo'}

##### When we use update(), the 'Cities' set is modified.

In [6]:
Cities  = {"Tokyo", "Madrid", "Dhaka", "Delhi"}
Cities2 = {"Tokyo", "Texas", "Kabul", "Madrid"}
Cities.update(Cities2)
print(Cities)

{'Texas', 'Madrid', 'Dhaka', 'Delhi', 'Kabul', 'Tokyo'}

In [7]:
print(Cities)

{'Texas', 'Madrid', 'Dhaka', 'Delhi', 'Kabul', 'Tokyo'}

#### II. intersection and intersection_update():
The intersection() and intersection_update() methods prints only items that are similar to both the sets. The intersection() method returns a new set whereas intersection_update() method updates into the existing set from another set.

##### Example:

In [8]:
Cities  = {"Tokyo", "Madrid", "Dhaka", "Delhi"}
Cities2 = {"Tokyo", "Texas", "Kabul", "Madrid"}
Cities3 = Cities.intersection(Cities2)
print(Cities3)

{'Madrid', 'Tokyo'}

##### Similarly, when we use intersection(), the two sets become unchanged.

In [9]:
print(Cities)
print(Cities2)

{'Madrid', 'Delhi', 'Dhaka', 'Tokyo'}
{'Madrid', 'Texas', 'Kabul', 'Tokyo'}

##### Similarly, when we use intersection_update(), the 'Cities' set is modified.

In [10]:
Cities  = {"Tokyo", "Madrid", "Dhaka", "Delhi"}
Cities2 = {"Tokyo", "Texas", "Kabul", "Madrid"}
Cities.intersection_update(Cities2)
print(Cities)

{'Madrid', 'Tokyo'}

In [11]:
print(Cities)

{'Madrid', 'Tokyo'}

#### III. symmetric_difference and symmetric_difference_update():
The symmetric_difference() and symmetric_difference_update() methods show only the items that are unique to each set. The symmetric_difference() method returns a new set, while the symmetric_difference_update() method updates the existing set with the unique items from another set.

##### Example:

In [12]:
Cities  = {"Tokyo", "Madrid", "Dhaka", "Delhi"}
Cities2 = {"Tokyo", "Texas", "Kabul", "Madrid"}
Cities.symmetric_difference(Cities2)
print(Cities)

{'Madrid', 'Delhi', 'Dhaka', 'Tokyo'}

##### And again, the two sets remain unchanged when we use symmetric_difference().

In [13]:
print(Cities)
print(Cities2)

{'Madrid', 'Delhi', 'Dhaka', 'Tokyo'}
{'Madrid', 'Texas', 'Kabul', 'Tokyo'}

In [14]:
Cities  = {"Tokyo", "Madrid", "Dhaka", "Delhi"}
Cities2 = {"Tokyo", "Texas", "Kabul", "Madrid"}
Cities.symmetric_difference_update(Cities2)
print(Cities)

{'Texas', 'Dhaka', 'Delhi', 'Kabul'}

##### Here,the two sets remain unchanged when we use symmetric_difference_update().

In [15]:
print(Cities)

{'Texas', 'Dhaka', 'Delhi', 'Kabul'}

#### IV. difference() and difference_update():
The difference() and difference_update() methods prints only items that are only present in the original set and not in both the sets. The difference() method returns a new set whereas difference_update() method updates into the existing set from another set.

##### Example:

In [16]:
Cities  = {"Tokyo", "Madrid", "Dhaka", "Delhi"}
Cities2 = {"Tokyo", "Texas", "Kabul", "Madrid"}
Cities.difference(Cities2)
print(Cities)

{'Madrid', 'Delhi', 'Dhaka', 'Tokyo'}

#### Two sets remain unchanged when we use difference().

In [17]:
print(Cities)
print(Cities2)

{'Madrid', 'Delhi', 'Dhaka', 'Tokyo'}
{'Madrid', 'Texas', 'Kabul', 'Tokyo'}

In [18]:
Cities = {"Tokyo", "Madrid", "Dhaka", "Delhi"}
Cities2 = {"Tokyo", "Texas", "Kabul", "Madrid"}
Cities.difference_update(Cities2)
print(Cities)

{'Delhi', 'Dhaka'}

#### The set "Cities" changes when we use difference_update().

In [19]:
print(Cities)

{'Delhi', 'Dhaka'}

#### Set Methods
There are several in-built methods used for the manipulation of set.They are explained below

isdisjoint():
The isdisjoint() method checks if items of given set are present in another set. This method returns False if items are present, else it returns True.

##### Example:

In [20]:
Cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
Cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
print(Cities.isdisjoint(Cities2))

False

In [21]:
Cities = {"Dhaka", "Texas", "Berlin", "Delhi"}
Cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
print(Cities.isdisjoint(Cities2))

True

#### issuperset():
The issuperset() method checks if all the items of a particular set are present in the original set. It returns True if all the items are present, else it returns False.

##### Example:

In [22]:
Cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
Cities2 = {"Seoul", "Kabul"}
print(Cities.issuperset(Cities2))

False

In [23]:
Cities3 = {"Tokyo", "Madrid", "Delhi"}
print(Cities.issuperset(Cities3))

True

#### issubset():
The issubset() method checks if all the items of the original set are present in the particular set. It returns True if all the items are present, else it returns False.

##### cExample:

In [24]:
Cities = {"Tokyo", "Texas", "Berlin", "Dhaka"}
Cities2 = {"Dhaka", "Texas"}
print(Cities2.issubset(Cities))

True

#### add()
If you want to add a single item to the set use the add() method.

##### Example:

In [25]:
Cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
Cities.add("Dhaka")
print(Cities)

{'Madrid', 'Dhaka', 'Berlin', 'Delhi', 'Tokyo'}

#### update()
If you want to add more than one item, simply create another set or any other iterable object(list, tuple, dictionary), and use the update() method to add it into the existing set.

##### Example:

In [26]:
Cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
Cities2 = {"Dhaka", "Texas", "Seoul"}
Cities.update(Cities2)
print(Cities)

{'Berlin', 'Delhi', 'Texas', 'Tokyo', 'Madrid', 'Dhaka', 'Seoul'}

#### remove()/discard()
We can use remove() and discard() methods to remove items form list.

##### Example :

In [27]:
Cities = {"Dhaka", "Madrid", "Berlin", "Delhi"}
Cities.remove("Dhaka")
print(Cities)

{'Berlin', 'Madrid', 'Delhi'}

The main difference between remove and discard is that, if we try to delete an item which is not present in set, then remove() raises an error, whereas discard() does not raise any error.

##### Example:

In [28]:
Cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
Cities.remove("Seoul")
print(cities)   # raises an error because "Seoul" is not in Cities

KeyError: 'Seoul'

In [29]:
Cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
Cities.discard("Seoul")
print(Cities)   
# If we use discard() and the element is not present in the set, the program will run without error occurring.

{'Berlin', 'Madrid', 'Delhi', 'Tokyo'}

#### pop()
This method removes the last item of the set but the catch is that we donâ€™t know which item gets popped as sets are unordered. However, you can access the popped item if you assign the pop() method to a variable.

##### Example:

In [30]:
Cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
item = Cities.pop()
print(Cities)
print(item)

{'Madrid', 'Delhi', 'Tokyo'}
Berlin

#### del
del is not a method, rather it is a keyword which deletes the set entirely.

##### Example:

In [31]:
Cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
del Cities

In [32]:
print(Cities)

# NameError: name 'Cities' is not defined. We get an error because our entire set has been deleted. and there is 
# And there is no variable called cities, which contains a set.

NameError: name 'Cities' is not defined

#### clear():
This method clears all items in the set and prints an empty set.

##### Example:

In [33]:
Cities = {"Dhaka", "Madrid", "Texas", "Delhi"}
Cities.clear()
print(Cities)

set()

#### Check if item exists
You can also check if an item exists in the set or not.

##### Example

In [34]:
info = {"Dhaka", 19, True, 99}
if "Dhaka" in info:
    print("Dhaka is present.")
else:
    print("Dhaka is absent.")

Dhaka is present.