#### Python Tuples
Tuples are ordered collection of data items. They store multiple items in a single variable. Tuple items are separated by commas and enclosed within round brackets (). Tuples are unchangeable(immutable) meaning we can not alter them after creation.

##### Example 1:

In [1]:
tuple1 = (1,2,2,3,5,4,6)
tuple2 = ("Red", "Green", "Blue")
print(tuple1)
print(tuple2)

(1, 2, 2, 3, 5, 4, 6)
('Red', 'Green', 'Blue')

In [2]:
details = ("Abhijeet", 18, "FYBScIT", 9.8)
print(details)

('Abhijeet', 18, 'FYBScIT', 9.8)

In [3]:
print(type(tuple1))
print(type(tuple2))
print(type(details))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [4]:
tuple3 = (1)
print(type(tuple3))

<class 'int'>

##### Why is this showing as an integer!!!!!!!!!
##### Note:
-If you add a comma after the element, it creates a tuple; without the comma, it is just a regular integer.

In [5]:
tuple4 = (1,)
print(type(tuple4))

<class 'tuple'>

##### Tuple Indexes
Each item/element in a tuple has its own unique index. This index can be used to access any particular item from the tuple. The first item has index [0], second item has index [1], third item has index [2] and so on.

##### Example:

In [6]:
country = ("Spain", "Italy", "India",)
#            [0]      [1]      [2]

##### Accessing tuple items:
##### I. Positive Indexing:
As we have seen that tuple items have index, as such we can access items using these indexes.

##### Example:

In [7]:
country = ("Spain", "Italy", "India",)
#            [0]      [1]      [2]     
print(country[0])
print(country[1])
print(country[2])

Spain
Italy
India

##### II. Negative Indexing:
Similar to positive indexing, negative indexing is also used to access items, but from the end of the tuple. The last item has index [-1], second last item has index [-2], third last item has index [-3] and so on.

##### Example:

In [8]:
country = ("Spain", "Italy", "India", "England", "Germany")
#            [0]      [1]      [2]       [3]        [4]
print(country[-1]) # Similar to print(country[len(country) - 1])
print(country[-3])
print(country[-4])

Germany
India
Italy

##### III. Check for item:
We can check if a given item is present in the tuple. This is done using the in keyword.

##### Example 1:

In [9]:
country = ("Spain", "Italy", "India", "England", "Germany")
if "Germany" in country:
    print("Germany is present.")
else:
    print("Germany is absent.")

Germany is present.

In [10]:
country = ("Spain", "Italy", "India", "England", "Germany")
if "Russia" in country:
    print("Russia is present.")
else:
    print("Russia is absent.")

Russia is absent.

##### IV. Range of Index:
You can print a range of tuple items by specifying where do you want to start, where do you want to end and if you want to skip elements in between the range.

##### Syntax:
##### Tuple[start : end : jumpIndex]

##### Note: jump Index is optional. We will see this in given examples.

##### Example: Printing elements within a particular range:

In [11]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[3:7])     #using positive indexes
print(animals[-7:-2])   #using negative indexes

('mouse', 'pig', 'horse', 'donkey')
('bat', 'mouse', 'pig', 'horse', 'donkey')

Here, we provide index of the element from where we want to start and the index of the element till which we want to print the values. Note: The element of the end index provided will not be included.

##### Example: Printing all element from a given index till the end

In [12]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[4:])      #using positive indexes
print(animals[-4:])     #using negative indexes

('pig', 'horse', 'donkey', 'goat', 'cow')
('horse', 'donkey', 'goat', 'cow')

When no end index is provided, the interpreter prints all the values till the end.

##### Example: printing all elements from start to a given index

In [13]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[:6])      #using positive indexes
print(animals[:-3])     #using negative indexes

('cat', 'dog', 'bat', 'mouse', 'pig', 'horse')
('cat', 'dog', 'bat', 'mouse', 'pig', 'horse')

When no start index is provided, the interpreter prints all the values from start up to the end index provided.

##### Example: Print alternate values

In [14]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[::2])     #using positive indexes
print(animals[-8:-1:2]) #using negative indexes

('cat', 'bat', 'pig', 'donkey', 'cow')
('dog', 'mouse', 'horse', 'goat')

Here, we have not provided start and end index, which means all the values will be considered. But as we have provided a jump index of 2 only alternate values will be printed.

##### Example: printing every 3rd consecutive withing given range

In [15]:
animals = ("cat", "dog", "bat", "mouse", "pig", "horse", "donkey", "goat", "cow")
print(animals[1:8:3])

('dog', 'pig', 'goat')

Here, jump index is 3. Hence it prints every 3rd element within given index.

##### Manipulating Tuples
Tuples are immutable, hence if you want to add, remove or change tuple items, then first you must convert the tuple to a list. Then perform operation on that list and convert it back to tuple.

##### Example:

In [16]:
countries = ("Spain", "Italy", "India", "England", "Germany")
temp = list(countries)
temp.append("Russia")       #add item 
temp.pop(3)                 #remove item
temp[2] = "Finland"         #change item
countries = tuple(temp)
print(countries)

('Spain', 'Italy', 'Finland', 'Germany', 'Russia')

##### Thus, we convert the tuple to a list, manipulate items of the list using list methods, then convert list back to a tuple.

However, we can directly concatenate two tuples without converting them to list.

##### Example:

In [17]:
countries = ("Pakistan", "Afghanistan", "Bangladesh", "ShriLanka")
countries2 = ("Vietnam", "India", "China")
southEastAsia = countries + countries2
print(southEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'ShriLanka', 'Vietnam', 'India', 'China')

##### Tuple methods
As tuple is immutable type of collection of elements it have limited built in methods.They are explained below

##### count() Method
The count() method of Tuple returns the number of times the given element appears in the tuple.

##### Syntax:
tuple.count(element)

In [18]:
Tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2)
res = Tuple1.count(3)
print('Count of 3 in Tuple1 is:', res)

Count of 3 in Tuple1 is: 3

##### index() method
The Index() method returns the first occurrence of the given element from the tuple.

##### Syntax:
tuple.index(element, start, end)

Note: This method raises a ValueError if the element is not found in the tuple.

##### Example:

In [19]:
Tuple = (0, 1, 2, 3, 2, 3, 1, 3, 2)
res = Tuple.index(3)
print('First occurrence of 3 is', res)

First occurrence of 3 is 3

In [20]:
res2 = Tuple.index(3, 4, 8)
print('First occurrence of 3 is', res2)

First occurrence of 3 is 5

###### The len() function returns the number of elements in a tuple.

##### Syntax:
len(tuple)

tuple: The tuple whose length you want to find.

##### Example:

In [21]:
Tuple = (0, 1, 2, 3, 2, 3, 1, 3, 2)
len(Tuple)

9